<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pl-PL" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="	background: url(assets/img/{{page.background}}) no-repeat; -webkit-background-size: cover;
    -moz-background-size: cover; -o-background-size: cover; background-size: cover; float:left; justify-content: left;">
      <div class="wrapper">
        {{ content }}
        <div class="last-character">
          {% for my_page in site.pages %}
            {% if my_page.dir == '/characters/' %}
              <a class="" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {% break %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </main>

  </body>

</html>
